# Exploratory Data Analysis

## Imports

In [4]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt

In [5]:
infile = open('data/pickles/demolished_buildings.pickle', 'rb')
demolished_buildings = pickle.load(infile)
infile.close()

In [6]:
type(demolished_buildings)

pandas.core.frame.DataFrame

In [7]:
demolished_buildings.head(4)

,policeprct,healtharea,zonedist1,zonedist2,zonedist3,overlay1,spdist1,spdist2,ltdheight,splitzone,...,factryarea,bldgfront,ext,irrlotcode,lottype,assesstot,yearbuilt,histdist,landmark,lifespan
82,13.0,5900.0,C1-8A,0,0,0,0,0,0,N,...,0.0,0.0,0,N,5.0,478592.0,1972,0,0,46
106,108.0,1021.0,R5D,0,0,0,0,0,0,N,...,0.0,0.0,0,Y,6.0,64380.0,1972,0,0,30
134,81.0,3100.0,C4-4L,0,0,0,0,0,0,N,...,0.0,72.0,E,N,5.0,1757700.0,1922,0,0,69
185,66.0,5310.0,C8-2,0,0,0,OP,0,0,N,...,0.0,0.0,0,Y,5.0,19350.0,1972,0,0,25